 
<h1>Listing ideas</h1>
<% @ideas.in_groups_of(2) do |group| %>
  <div class="row">
    <% group.compact.each do |idea| %>
      <div class="col-md-4">
        <%= image_tag idea.picture_url, width: '50%' if idea.picture.present?%>
        <h4><%= link_to idea.name, idea %></h4>
        <%= idea.description %><br>
        <%= text_field_tag(:w) %>
        <%=submit_tag("post") %><br>
        <%#= input name="commit" type="submit" value="Save changes" %>
        <%#= text_area_tag(:w) %>
 		<%= link_to 'comment', ideas_post_path(id: idea.id) %>
     
      </div>
    <% end %>
  </div>
  
  <% end %>
